@model ASP.NET_MVC.Models.DanhSachPhongChieu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DanhSachPhongChieu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenPhongChieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenPhongChieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongGhe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongGhe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PhongChieuId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
