@model ASP.NET_MVC.Models.DanhSachPhim

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết phim</h2>

<div>
    @*<h4>DanhSachPhim</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên phim
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenPhim)
        </dd>

        <dt>
            Đạo diễn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaoDien)
        </dd>

        <dt>
            Thời lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiLuong)
        </dd>

        <dt>
            Xuất xứ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XuatXu)
        </dd>

        <dt>
            Nội dung
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            Ảnh đại diện
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.PhimId }) |
    @Html.ActionLink("Quay lại", "Index", "Home")
</p>
